fastapi>=0.109.0,<1.0.0
uvicorn
pydantic==2.*
pytest>=7.4
pytest-bdd>=6.0.0
pytest_mock>=3.10.0
pytest-asyncio>=0.21
pytest-env>=0.9
openai>=1.16.2
httpx>=0.23.0,<1.0.0
pyyaml>=6.0
python-dotenv>=0.21.0
langchain>=0.0.338
pre-commit==3.4.0
black==23.9.0
flake8
requests>=2.31.0
azure-monitor-opentelemetry
opentelemetry-instrumentation-fastapi
protobuf<3.21.0
starlette-context
locust
aiohttp-retry
azure-search-documents==11.4.0b6
azure-cosmos
azure-identity
pytest-cov
thefuzz
haversine
azure-appconfiguration==1.4.0
azure-keyvault-secrets==4.9.0
pyowm
wikipedia
faiss-cpu
tiktoken
sse-starlette
orjson
pydantic-settings
pytz
scikit-learn # TODO: Is this necessary
fastapi-third-party-auth
slowapi
autoflake
msgpack==1.0.2
websocket-client==1.0.0
Jinja2==3.1.3
backoff
pandas
pytest-sugar
pytest-instafail
pytest-xdist
gitpython
azure-kusto-data
azure-kusto-ingest
timezonefinder
statsmodels
promptflow>=1.16.1
promptflow-devkit>=1.16.1
geopandas
